aiohttp
fastapi
xgboost
joblib
numpy
pandas
python-dotenv
scikit_learn
slowapi
torch
huggingface-hub
transformers
uvicorn
pydantic[email]
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
