aiohttp
fastapi
xgboost
joblib
numpy
pandas
python-dotenv
scikit_learn
slowapi
torch
huggingface-hub
transformers
uvicorn
pydantic[email]
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability
